<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="sensenet">
      <section name="uploadFileExtensions" type="System.Configuration.NameValueFileSectionHandler" />
      <section name="portalSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="adsync.log" footer="" formatter="AdSync Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="200" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="AdSync Flat File Trace Listener" />
      <add source="Enterprise Library Logging" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Application EventLog TraceListener" />
      <add databaseInstanceName="SnCrMsSql" writeLogStoredProcName="proc_LogWrite" addCategoryStoredProcName="proc_LogAddCategory" formatter="SnXmlFormatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" name="Database Trace Listener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="SenseNet.Diagnostics.OneLineTraceListener, SenseNet.Storage, Version=5.9.1.2, Culture=neutral, PublicKeyToken=null" name="Debug Trace Listener" initializeData="" formatter="OneLineFormatter" />
      <add source="SenseNetInstrumentation" formatter="Text Formatter" log="SenseNet" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="Information" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="SenseNet EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="{timestamp} {severity} {message} {keyvalue(Messages)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="AdSync Text Formatter" />
      <add template="{severity} {category} {message}: Properties: {dictionary({key}={value};)}; Timestamp: {timestamp}; Machine: {machine}; AppDomain: {appDomain}; ProcessId: {processId}; Process: {processName}; Win32ThreadId: {win32ThreadId}; ThreadName: {threadName}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="OneLineFormatter" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
      <add type="SenseNet.ContentRepository.Storage.Diagnostics.SnXmlFormatter, SenseNet.Storage" name="SnXmlFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AdSync">
        <listeners>
          <add name="AdSync Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Audit">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="Debug Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Debug Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="SenseNet EventLog TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SenseNet EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <unity>
    <typeAliases>
      <!-- Provider aliases -->
      <typeAlias alias="IApplicationCache" type="SenseNet.ContentRepository.Storage.AppModel.IApplicationCache, SenseNet.Storage" />
      <!--<typeAlias alias="IActionFactory" type="SenseNet.ContentRepository.IActionFactory, SenseNet.ContentRepository" />-->
      <typeAlias alias="ISearchEngine" type="SenseNet.ContentRepository.Storage.Search.ISearchEngine, SenseNet.Storage" />
      <!-- Provider implementation aliases -->
      <typeAlias alias="IApplicationCacheImpl" type="SenseNet.ContentRepository.ApplicationCache, SenseNet.ContentRepository" />
      <!--<typeAlias alias="IActionFactoryImpl" type="SenseNet.Portal.PortalActionLinkManager, SenseNet.Portal" />-->
      <typeAlias alias="ISearchEngineImpl" type="SenseNet.Search.LuceneSearchEngine, SenseNet.ContentRepository" />
    </typeAliases>
    <containers>
      <container name="Providers">
        <types>
          <!-- Binding providers to implementations -->
          <type type="IApplicationCache" mapTo="IApplicationCacheImpl" />
          <!--<type type="IActionFactory" mapTo="IActionFactoryImpl" />-->
          <type type="ISearchEngine" mapTo="ISearchEngineImpl" />
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Persist Security Info=False;Initial Catalog=SenseNetContentRepository;Data Source=MySenseNetContentRepositoryDatasource;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <sensenet>
    <uploadFileExtensions>
      <add key=".jpg" value="Image" />
      <add key=".jpeg" value="Image" />
      <add key=".gif" value="Image" />
      <add key=".png" value="Image" />
      <add key=".bmp" value="Image" />
      <add key=".svg" value="Image" />
      <add key=".svgz" value="Image" />
      <add key=".tif" value="Image" />
      <add key=".tiff" value="Image" />
      <add key=".xaml" value="WorkflowDefinition" />
    </uploadFileExtensions>
    <portalSettings>
      <add key="UserProfilesEnabled" value="false" />
    </portalSettings>
  </sensenet>
  <appSettings>
    <add key="SpecialWorkingMode" value="SnAdmin" />
    <!-- Absolute path of the web directory (parent of web.config). Default: sibling directory of the SnAdmin.exe's container
         if the directory names correspond to the following convention:
         - Web and package directories are siblings
         - Package directory name = Web directory name + "_admin"
         A good combination example: C:\Webs\MyWeb and C:\Webs\MyWeb_admin.
    -->
    <!--<add key="TargetDirectory" value="" />-->
    <!-- Absolute or relative path of the package directory. Default: "..\..\" -->
    <!--<add key="PackageDirectory" value="..\..\" />-->
    <!-- Other server's web directories. Comma or semicolon separated list of UNC paths. For example:
         <add key="NetworkTargets" value="\\Server1\SensenetWeb;\\Server2\SensenetWeb" />-->
    <!--<add key="NetworkTargets" value="" />-->

    <add key="OperationTrace" value="false" />
    <add key="CreateJournalItems" value="false" />
    <add key="AuditEnabled" value="false" />
    <add key="DisabledNodeObservers" value="SenseNet.Portal.SkinObserver;SenseNet.Portal.UI.ScriptDependencyObserver;SenseNet.Portal.Workspaces.JournalObserver;SenseNet.ApplicationModel.AppStorageInvalidator;SenseNet.ContentRepository.Storage.AppModel.AppCacheInvalidator;SenseNet.ContentRepository.Storage.AppModel.RepositoryEventRouter;SenseNet.Workflow.WorkflowNotificationObserver;SenseNet.Messaging.NotificationObserver;SenseNet.ContentRepository.Preview.DocumentPreviewObserver" />

    <add key="DataProvider" value="SenseNet.ContentRepository.Storage.Data.SqlClient.SqlProvider" />
    <add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider" />
    <add key="DefaultLockTimeout" value="60" />
    <add key="ScriptMode" value="Release" />
    <!--<add key="ClusterChannelProvider" value="SenseNet.Communication.Messaging.MsmqChannelProvider, SenseNet.Storage" />-->
    <!--<add key="MsmqChannelQueueName" value=".\private$\ryan" />-->
    <add key="BackwardCompatibilityXmlNamespaces" value="true" />
    <!-- Default IndexDirectoryPath: 'LuceneIndex' directory in the target directory's App_Data. Configured path can be absolute or relative to the TargetDirectory. -->
    <!--<add key="IndexDirectoryPath" value="" />-->
    <add key="EnableOuterSearchEngine" value="true" />
    <!-- structure -->
    <add key="ContentTemplateFolderPath" value="/Root/ContentTemplates" />
    <add key="CellTemplatesPath" value="$skin/celltemplates" />
    <add key="DefaultSkinName" value="sensenet" />
    <add key="IMSFolderPath" value="/Root/IMS" />
    <add key="ResourceFolderPath" value="/Root/Localization" />
    <add key="SkinRootFolderPath" value="/Root/Skins" />
    <add key="SkinGlobalFolderPath" value="/Root/Global" />
    <add key="PageTemplateFolderPath" value="/Root/Global/PageTemplates" />
    <!-- If this is set to true, the importer will skip missing user references for the CreatedBy, ModifiedBy fields. Default is False -->
    <!--<add key="SkipImportingMissingReferences" value="false"/>-->
    <!--Whether to skip binary field import if the given attachment does not exist (used to modify content metadata only).-->
    <!--<add key="SkipBinaryImportIfFileDoesNotExist" value="false"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <globalization resourceProviderFactoryType="SenseNet.ContentRepository.i18n.SenseNetResourceProviderFactory, SenseNet.ContentRepository" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
